<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="refresh" content="3; URL=/">
    <title>Location</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>

<body>

<!-- Content -->
<div class="container">
    <div align="center" class="alert alert-success">
        La validation de votre compte à bien été effectuée ! Vous pouvez vous connectez dès
        maintenant.
    </div>
</div>

</body>
</html>
