<h1>Calendrier</h1>
<p class="lead">Gestion du calendrier Google</p>

<div class="hidden-phone responsive-iframe-container">
	<iframe src="https://www.google.com/calendar/embed?showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=WEEK&amp;height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=uv942mr8jdmmt0jj0vdj947nq4%40group.calendar.google.com&amp;color=%23182C57&amp;ctz=Europe%2FParis" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>

<div class="visible-phone hidden-desktop">
	<iframe src="https://www.google.com/calendar/embed?showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=uv942mr8jdmmt0jj0vdj947nq4%40group.calendar.google.com&amp;color=%23182C57&amp;ctz=Europe%2FParis" style=" border-width:0 " width="500" height="600" frameborder="0" scrolling="no"></iframe>
</div>