<h4>Configuration générale de la prise</h4>

<hr />

<div class="form-group">
    <div class="input-group col-xs-3 col-sm-3 col-md-3">
        <label for="number">Identifiant</label>
        <table class="table table-striped">
            <thead>
              <tr>
                <th data-ng-repeat="plugNumberBit in plugService.plugNumberFormat">{{ plugNumberBit }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-ng-repeat="plugNumberBit in plugService.plugNumberFormat">
                    <input type="checkbox" ng-model="plugService.plug.plugNumber[$index]" ng-true-value="1" ng-false-value="0" 
                    ng-checked="plugService.plug.plugNumber[$index] == 1">
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>

<label for="status">Satut</label>
<div class="input-group btn-group">
    <label class="btn btn-primary" ng-model="plugService.plug.status" btn-radio="'on'" ng-click="plugService.activateSwitch(1)">ON</label>
    <label class="btn btn-primary" ng-model="plugService.plug.status" btn-radio="'off'" ng-click="plugService.activateSwitch(0)">OFF</label>
    <label class="btn btn-primary" ng-model="plugService.plug.status" btn-radio="'manual'">PROG.</label>
    <label class="btn btn-primary" ng-model="plugService.plug.status" btn-radio="'auto'">AUTO</label>
</div>

</form>