<h1 class="page-header">
    <span class="glyphicon glyphicon-stats"></span> Mon domicile - Tableau de bord
</h1>

<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="img/maison-domotique.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>Présence au domicile(s)</h4>
        <span class="text-muted">Taux de présence chez vous</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="img/boitier-domotique.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>Pilotez votre domicile</h4>
        <span class="text-muted">Depuis n'importe où</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="img/remote-plugs.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>Matériel fourni</h4>
        <span class="text-muted">Nous fournissons le matériel nécéssaire</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="img/panel.png" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <span class="text-muted">Something else</span>
    </div>
</div>
